# **Data Science ITI102 Assignment 1**

##Smartphone Applications Dataset Analysis
Instructions:


*   Complete sections with label TODO with the correct code
*   Add the code under the label #Add code
*   Fill your Name and Admin in the below section



```
Name : 
Admin no: 
```

## In this assignment, you are going to analyse the dataset for Smartphone Applications

###**Dataset Information**

You are given a csv file **dataset.csv** with all the data.    
There are 13 columns in the csv file.    
The first row is the header.    

Following are the description for each header for the columns:

1.App	
2.Category   
3.Rating  
4.Reviews	
5.Size	
6.Installs	
7.Type	
8.Price	
9.Content Rating	
10.Genres	
11.Last Updated	
12.Current Ver	
13.Android Ver

### Complete all the codes in the following sections:
> #### 1. Importing Packages
> #### 2. Reading Data
> #### 3. Data Preprocessing
    > #### -  3.1 Handling NULL Values
    > #### -  3.2 Handling Data Types and Values
> #### 4. Analyzing Features
> #### 5. Furthur Analysis.

**Read the requirement at TODO**  
**Then fill the code in the cell with tag** #Add code

<a id='1'></a>
## 1. Importing the required packages

TODO: (0.5 mark)  

* Add all the modules that you require for the subsequence steps.

* All the required modules must be added in this section.

In [ ]:
#Add code

TODO: (0.5 mark)   
* Mount drive in colab      
* Create directory in google drive  '/content/drive/My Drive/Data/DSA1/'      
* Copy file 'dataset.csv' into directory '/content/drive/My Drive/Data/DSA1/'

In [ ]:
#Add Code

***

<a id='2'></a>
## 2.  Reading Data
TODO: (1 marks)

* Use pandas function to read in the given dataset 'dataset.csv' that you have copied in the directory '/content/drive/My Drive/Data/DSA1/'.

* Assign the read dataframe into a variable. Use this dataframe variable for the rest of the part in the notebook. 

* Display the first 5 rows of data that you read using the pandas function.

In [ ]:
#Add code

In [ ]:
#Add code

***

<a id='3.1'></a>

## 3. Data Preprocessing

### 3.1 Handling NULL/Duplication Values

#### This is a very crucial step in every analysis and model, which help to improves the accuracy of insights and predictions.  

TODO:(1 mark)

Use the dataframe variable that you read from the previous section using pandas function.

* Count number of Null in each columns

* Drop all rows with Null values

In [ ]:
#Check the number of rows before the data cleaning
df.shape

In [ ]:
#Add code

In [ ]:
#Add code

#### There also duplications in the dataset
TODO: (1 mark)

* Remove the duplications rows in the dataset

In [ ]:
#Add code

#### Print the shape of the data read
* Display the size of the dataset read

In [ ]:
df.shape

(8886, 13)

<a id='3.2'></a>
### 3.2 Handling Data Types of each Feature

#### The data types of each feature must be changed to a proper format that can be used for analysis.
This is the tasks for this section.

####TODO: (2 Marks)     

The Column *Reviews* must be of correct numerical type

* Check the Column Reviews type. Display the result.
* Change the Reviews column type to int64. Display the result.

In [ ]:
#Add code

In [ ]:
#Add code

####TODO:(2 Marks)
Changing the Feature : Installs

* The installs values must be changed to a proper format so that we can use them for analysis and plots.    
Example : Change '10,000+' to 10000
* After format the data in installs column, convert all items in the column to float.
* Update the new data into your dataframe where the installs column is.

In [ ]:
#Add code

####TODO: (2 Marks)
Changing the feature : Size

* The column Size values are not able to use for data analysis, it not a value.
* Change if into number format example 15M to 15.0, Do for all the rest in this column,
* After format the data in Size column, convert all items in the column to float.
* Update the new data into your dataframe where the Size column is.

In [ ]:
#Add code

####TODO: 2 (Marks)    

Changing the feature Price 

* Most value in the Price column is 0 but some have value example  
```
$2.44
```
* You need to remove '$' in the data.
* After format the data in Price column, convert all items in the column to float.
* Update the new data into your dataframe where the Price column is.

In [ ]:
#Add code

####TODO: (2 Marks)

Changing the feature, Android Ver 

The column Android Ver store data example 4.0.3 and up    
* We are only interest on the major version not the minor version   
* We need to change format, for example **4.0.3 and up**  to **4.0**, do for the rest of items in this column.
* After format the data in Android Ver column, convert all items in the column to float.
* Update the new data into your dataframe where the Android Ver column is.

In [ ]:
#Add code

<a id='4'></a>
## 4. Analyzing Features :

### 4.1 Categories

####TODO:(2 Marks) 

Find the Total count for each of the Category

* In the Category column display the different App category. You need to count the total number for each Category.

Example
```
Example only. Not the answer.

FAMILY                 1717
GAME                   1074
TOOLS                   733
PRODUCTIVITY            334
FINANCE                 317
.....
.....
```

In [ ]:
#Add code

####TODO:(3 Marks)   

* Group using the column 'Type', 'Category'and aggregate Rating with the mean
* Which 'Type' and 'Category' has the highest mean Rating? Write your answer in the text cell below.


```
Example only. Not the answer.

		                       Rating
                             mean
Type    Category	
Free	ART_AND_DESIGN	       4.358621
       AUTO_AND_VEHICLES	   4.184722
       BEAUTY	               4.278571
       BOOKS_AND_REFERENCE	 4.350888
       BUSINESS	             4.103448
...	...	...
Paid	 SPORTS	            4.254545
        TOOLS          	    4.169841
        TRAVEL_AND_LOCAL	  4.100000
        VIDEO_PLAYERS	      4.100000
        WEATHER	            4.371429
```

In [ ]:
#Add code

Which 'Type' and 'Category' has the highest mean Rating?



*   Answer

### 4.2 Price 
#####TODO: (1 mark) 

* Find the row where the column Price is max and store as a dataframe

In [ ]:
#Add code

<a id='5'></a>
## 5. Furthur Analysis


###TODO: (2 Marks)

* Find all Apps with 5.0 ratings:

* Then use the result to Group using the column 'Type', 'Category'and aggregate Rating with the number of count

* Which of the Type and Group have the maximum Rating count? 
* Place your answers in the Text Cell. 


```
Example only. Not the answer.

		                  Rating count
Type	Category	
Free	ART_AND_DESIGN	1
      BOOKS_AND_REFERENCE	4
      BUSINESS	18
      COMICS	2
      COMMUNICATION	5
      DATING	6
      EVENTS	6
      FAMILY	59
      FINANCE	8
      FOOD_AND_DRINK	2
      GAME	8
      HEALTH_AND_FITNESS	12
      LIBRARIES_AND_DEMO	2
      LIFESTYLE	27
      MEDICAL	23
      NEWS_AND_MAGAZINES	7
      PARENTING	1
      PERSONALIZATION	3
      PHOTOGRAPHY	6
      PRODUCTIVITY	7
      SHOPPING	6
      SOCIAL	8
      SPORTS	4
      TOOLS	15
      TRAVEL_AND_LOCAL	3
Paid	BOOKS_AND_REFERENCE	2
      FAMILY	8
      GAME	4
      LIFESTYLE	2
      MEDICAL	2
      PERSONALIZATION	7
      PRODUCTIVITY	1
      TOOLS	2
```

In [ ]:
#Add code

In [ ]:
#Add code

In [ ]:
#Add code

Which of the Type and Group have the maximum Rating count?



*   Answer

### TODO:  (2 Marks)

* Show the descriptive statistics for the column Rating

* Plot a frequencey plot for distribution of the column Rating

* Get the skew value of the column Rating

In [ ]:
#Add code

In [ ]:
#Add code

In [ ]:
#Add code

###TODO: (6 Marks)  

Category and Reviews:

 
* In each unique Category  get average of review and rating    
* Sort the rating in the descending order as show result



```
Example only. Not the answer.

	                    Reviews	Rating
Category		
EVENTS	              3.568667e+03	4.435556
ART_AND_DESIGN	      2.810356e+04	4.377049
EDUCATION	            1.795715e+05	4.375969
BOOKS_AND_REFERENCE	  1.235752e+05	4.347458
PERSONALIZATION	      2.441312e+05	4.333117
PARENTING	            1.907218e+04	4.300000
GAME	                1.318002e+06	4.281285
BEAUTY	              9.407929e+03	4.278571
HEALTH_AND_FITNESS	  1.177293e+05	4.261450
SOCIAL	              2.186789e+06	4.254918
.......
.......
.......
```

In [ ]:
#Add code

In [ ]:
#Add code