Implement the following requirements using Python
a) You are given the XML file catalogQ3.xml. (See below XML file).
Copy it into the your google drive directory '/content/drive/My Drive/Data/DSWT/'.
Read the XML(catalog.xml) and extract the required data from tag artist, title, rating and track. (3 marks)
XML file: catalogQ3.xml
<Catalog>
    <Album artist="The Last Shadow Puppets" title="The Age Of The Understatement">
        <Track rating="4" length="P3M7S">The Age Of The Understatement</Track>
        <Track rating="3" length="P2M18S">Standing Next To Me</Track>
        <Track rating="5" length="P2M26S">Calm Like You</Track>
        <Track rating="3" length="P3M38S">Separate and Ever Deadly</Track>
        <Track rating="2" length="P2M37S">The Chamber</Track>
        <Track rating="3" length="P2M44S">Only The Truth</Track>
    </Album>
    <Album artist="Kings Of Leon" title="Because Of The Times">
        <Track rating="4" length="P7M10S">Knocked Up</Track>
        <Track rating="2" length="P2M57S">Charmer</Track>
        <Track rating="3" length="P3M21S">On Call</Track>
        <Track rating="4" length="P3M09S">McFearless</Track>
        <Track rating="1" length="P3M59S">Black Thumbnail</Track>
    </Album>
</Catalog>

In [1]:
import pandas as pd

In [4]:
data_dir_path='/content/drive/MyDrive/'

In [238]:
import xml.etree.ElementTree as ET
import csv
 
root_node = ET.parse(data_dir_path+"catalogQ3.xml").getroot()

artist_title = []

for tag in root_node.findall('Album'):
    artist = tag.attrib['artist']
    print(artist)
    title = tag.attrib['title']
    print(title)
    artist_title.append(artist)
    artist_title.append(title)

count = 1

with open('tracks.csv', 'w', newline='') as file:
  writer = csv.writer(file)
  writer.writerow(['artist','title','rating','track'])

  for tag in root_node.findall('Album/Track'):
      rating = tag.attrib['rating']
      texts = tag.text
      if count < 7:
        temporary1 = [artist_title[0], artist_title[1], rating, texts]
      else:
        temporary1 = [artist_title[2], artist_title[3], rating, texts]
      
      writer.writerow(temporary1)
      print(temporary1)
      count += 1

The Last Shadow Puppets
The Age Of The Understatement
Kings Of Leon
Because Of The Times
['The Last Shadow Puppets', 'The Age Of The Understatement', '4', 'The Age Of The Understatement']
['The Last Shadow Puppets', 'The Age Of The Understatement', '3', 'Standing Next To Me']
['The Last Shadow Puppets', 'The Age Of The Understatement', '5', 'Calm Like You']
['The Last Shadow Puppets', 'The Age Of The Understatement', '3', 'Separate and Ever Deadly']
['The Last Shadow Puppets', 'The Age Of The Understatement', '2', 'The Chamber']
['The Last Shadow Puppets', 'The Age Of The Understatement', '3', 'Only The Truth']
['Kings Of Leon', 'Because Of The Times', '4', 'Knocked Up']
['Kings Of Leon', 'Because Of The Times', '2', 'Charmer']
['Kings Of Leon', 'Because Of The Times', '3', 'On Call']
['Kings Of Leon', 'Because Of The Times', '4', 'McFearless']
['Kings Of Leon', 'Because Of The Times', '1', 'Black Thumbnail']

In [240]:
df200 = pd.read_csv('tracks.csv')

In [241]:
df200.head()

                    artist  ...                          track
0  The Last Shadow Puppets  ...  The Age Of The Understatement
1  The Last Shadow Puppets  ...            Standing Next To Me
2  The Last Shadow Puppets  ...                  Calm Like You
3  The Last Shadow Puppets  ...       Separate and Ever Deadly
4  The Last Shadow Puppets  ...                    The Chamber

[5 rows x 4 columns]

In [242]:
df200.groupby(['artist','title']).rating.mean()

artist                   title
Kings Of Leon            Because Of The Times             2.800000
The Last Shadow Puppets  The Age Of The Understatement    3.333333
Name: rating, dtype: float64

4a) You are given a text file iotdevicedataQ4a.txt. It contains IoT device sensor data(see the following Text File).
Text File: iotdevicedata.Q4atxt
Dev342 temperature is 32 degree celsius with pressure 9000 pa
dev101 temperature is 30 degree celsius with pressure 10000 pa
dev200 temperature is 20 degree celsius and pressure 6000 pa
Dev320 temperature is 20 degree celsius and pressure 6000 pa
 
Copy it into the your google drive directory '/content/drive/My Drive/Data/DSWT/'.
 
Implement the following requirements using Python
i) You must extract the values from each device with the name, temperature and pressure. (2 marks)

In [113]:
%cd '/content/drive/MyDrive/'

/content/drive/MyDrive

In [104]:
my_file = open("/content/drive/MyDrive/iotdevicedataQ4a.txt", "r")
content = my_file.read()
content_list = content.split("\n")
my_file.close()
print(content_list)

['Dev342 temperature is 32 degree celsius with pressure 9000 pa', 'dev101 temperature is 30 degree celsius with pressure 10000 pa', 'dev200 temperature is 20 degree celsius and pressure 6000 pa', 'Dev320 temperature is 20 degree celsius and pressure 6000 pa']

In [126]:
content_list

['Dev342 temperature is 32 degree celsius with pressure 9000 pa',
 'dev101 temperature is 30 degree celsius with pressure 10000 pa',
 'dev200 temperature is 20 degree celsius and pressure 6000 pa',
 'Dev320 temperature is 20 degree celsius and pressure 6000 pa']

In [135]:
diction1 = {}
list1 = []

for i in content_list:
  temporary = "".join([ele for ele in i[7:] if ele.isdigit()])
  diction1["device id"] = i[:6]
  diction1["temp"] = temporary[:2]
  diction1["pressure"] = temporary[2:]
  diction2 = diction1.copy()
  list1.append(diction2)

In [136]:
print(list1)

[{'device id': 'Dev342', 'temp': '32', 'pressure': '9000'}, {'device id': 'dev101', 'temp': '30', 'pressure': '10000'}, {'device id': 'dev200', 'temp': '20', 'pressure': '6000'}, {'device id': 'Dev320', 'temp': '20', 'pressure': '6000'}]

In [137]:
import json
with open('iotdatalist.json', 'w') as f:
  json.dump(list1, f)

ii) Format the extracted values into  JSON format and store them in a JSON file.  Name the JSON file as  iotdatalist.json(see the following JSON File) ( 2 marks)
 
Json File: iotdatalist.json
[
{ “device id”: “Dev342”, “temp”: “20”, “pressure”: “9000”},
{ “device id”: “dev101”, “temp”: “30”, “pressure”: “10000”},
…..
…..
}
]
 
ii) Use pandas dataframe to  read the JSON file iotdatalist.json.  Find the row(s) where the temperature is(are) greater than 29 and pressure is greater than 9000. (1 marks)

In [138]:
df = pd.read_json('iotdatalist.json')
df.head()

  device id  temp  pressure
0    Dev342    32      9000
1    dev101    30     10000
2    dev200    20      6000
3    Dev320    20      6000

In [146]:
df.describe()

            temp      pressure
count   4.000000      4.000000
mean   25.500000   7750.000000
std     6.403124   2061.552813
min    20.000000   6000.000000
25%    20.000000   6000.000000
50%    25.000000   7500.000000
75%    30.500000   9250.000000
max    32.000000  10000.000000

In [147]:
df.loc[(df.temp>29) & (df.pressure > 9000)]

  device id  temp  pressure
1    dev101    30     10000

b) You are given  a text file dataset1Q4b.csv. ( 5 marks)
 
Here show the first 5 rows
Seq No	intnum	persnum	age	educatn	earnings	hours	kids	married
1	4	4	39	12	77250	2940	2	married
2	4	6	35	12	12000	2040	2	divorced
3	4	7	33	12	8000	693	1	married
4	4	173	39	10	15000	1904	2	married
5	5	2	47	9	6500	1683	5	married
 
Use the  following Hypothesis
 
Null Hypothesis Ho:
Work hours for people with higher earnings == Work hours for people with lower earnings
 
Alternative Hypothesis Ha:
Work hours for people with higher earnings > Work hours for people with lower earnings
 
Use 0.05 significance level(alpha value)
 
Use python program to test the hypothesis.
State the result of the hypothesis in the your colab .ipynb
Hint:
You need to define a way to decide what is high and low income.

Note:
All dataset or files produced by your program must store in the google drive directory
data_dir_path='/content/drive/My Drive/Data/DSWT/'

In [149]:
df22 = pd.read_csv('datasetQ4b.csv')

In [151]:
df22.head(22)

    Seq No  intnum  persnum  age  educatn  earnings  hours  kids        married
0        1       4        4   39     12.0     77250   2940     2        married
1        2       4        6   35     12.0     12000   2040     2       divorced
2        3       4        7   33     12.0      8000    693     1        married
3        4       4      173   39     10.0     15000   1904     2        married
4        5       5        2   47      9.0      6500   1683     5        married
5        6       6        4   44     12.0      6500   2024     2        married
6        7       6      172   38     16.0      7000   1144     3        married
7        8       7        4   38      9.0      5000   2080     4       divorced
8        9       7      170   39     12.0     21000   2575     3        married
9       10       7      171   37     11.0         0      0     5        married
10      11      10        3   48     13.0     13201   2080    98       divorced
11      12      10      171   47     12.0     22000   1920     3        married
12      13      10      178   40     12.0         0      0     0      separated
13      14      11      171   38     16.0     12143    585     0        married
14      15      13        3   41     12.0         0      0     2        married
15      16      13        4   43     15.0     30000   1504     0  never married
16      17      14        2   41     16.0     13000   1560     0  never married
17      18      14        3   36     14.0     24000   1701     1        married
18      19      16        3   31     10.0         0      0     2        married
19      20      18      170   38     12.0         0      0     2        married
20      21      18      172   39     12.0     11250    968     3        married
21      22      18      173   45     12.0         0      0     3        married

In [152]:
df22.describe()

            Seq No       intnum  ...        hours         kids
count  4856.000000  4856.000000  ...  4856.000000  4856.000000
mean   2428.500000  4598.101318  ...  1235.334843     4.481260
std    1401.950784  2761.971174  ...   947.175837    14.887856
min       1.000000     4.000000  ...     0.000000     0.000000
25%    1214.750000  1905.000000  ...    32.000000     1.000000
50%    2428.500000  5464.000000  ...  1517.000000     2.000000
75%    3642.250000  6655.000000  ...  2000.000000     3.000000
max    4856.000000  9306.000000  ...  5160.000000    99.000000

[8 rows x 8 columns]

In [166]:
the_list = list(df22.earnings)

In [169]:
the_list.sort()

In [172]:
the_list[-10:-5]

[110000, 110000, 110000, 110000, 125000]

In [173]:
len(the_list)

4856

In [178]:
the_list[int(4856/2)]

11000

In [ ]:
# Note: the sample size is large and we are comparing the means of the two groups hence z test used
# Note: We define large salary as those earning above 100000

In [153]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [179]:
df22.loc[df22.earnings > 11000, :]['hours']

0       2940
1       2040
3       1904
8       2575
10      2080
        ...
4842    1209
4847    2040
4848    2448
4853    2793
4855    2423
Name: hours, Length: 2389, dtype: int64

In [189]:
from statsmodels.stats import weightstats as stests
ztest ,pval1 = stests.ztest(df22.loc[df22.earnings > 100000, :]['hours'], df22.loc[df22.earnings < 100000, :]['hours'], alternative='larger')
print(float(pval1))

if(pval1<0.05):
    print('We reject null hypothesis')
else:
    print('We fail to reject null hypothesis')

0.00036198239298667505
We reject null hypothesis